.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}
.sidebar_header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-right: 1px solid lightgray;
}

.sidebar_headerright {
  min-width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar_headerright > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

.sidebar_search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 40px;
  padding: 10px;
}
.search_container {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 35px;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}

.search_container>.MuiSvgIcon-root{
  color: ;
}